.event-log {
    overflow: hidden;
    word-break: break-all;
    word-spacing: -1px;  
    padding: 1rem;
    //transition: 0.5s ease-in;
    height: 13vh;
    z-index: 2;
    background: black;
}

.event-log:hover {
    position: absolute;
    bottom: 0;
    width: 98.7vw;

    background: black;
    height: 39vh;
    overflow-y: scroll;
  }
  
  ::-webkit-scrollbar {width: 5px;} 
  ::-webkit-scrollbar-track {background-color: rgba(25, 25, 25, 0.2);}
  ::-webkit-scrollbar-thumb {background-color: rgba(25, 25, 25, 0.2);}