html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: Verdana, Open Sans, Consolas, Helvetica, Arial, sans-serif;
  //font-family: dejavu sans mono, consolas, monospace;
  background: black;
}

.larger-text {
  font-size: 1.8rem;
}

.ui-border {
  border-radius: 6px;
  border-color: white;
  border-width: 2px;
  border-style: ridge;
}

.strokeme {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.hover-text {
  position: absolute;
  z-index: 1;
}

.no-click {
  pointer-events: none;
}

.no-select {
  user-select: none;
}