body {
  background: #000000;
  padding: 0px;
  margin: 0px;
}

.mainWrapper {
  position: absolute;
  z-index: 0;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.displayCanvas {
  position: absolute;
  z-index: 1;
}

.basicMenu {
  height: 50%;
  z-index: 2;
  margin: 0;
  background-color: white;
  font-family: dejavu sans mono, consolas, monospace;
}

.strokeme {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.top-left {
}

.top-right {
  margin-left: auto;
}

.bottom-right {
  margin-left: auto;
  margin-top: auto;
}

.bottom-left {
  margin-top: auto;
}

.no-click {
  pointer-events: none;
}

#worldTimeline {
  width: auto;
  height: auto;
  display: none;
}

#selectObject {
  display: none;
}
