<!DOCTYPE html>
<html>
    <head>
        <style type = "text/css">
            body{
                background: #000000;
                padding: 0px;
                margin: 0px;
            }
            canvas{
                display:block;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>

        <script src="https://ondras.github.io/rot.js/rot.js"></script>
        <script src="phaser.min.js"></script>

        <script src="content/WorldObjects.js"></script>

        <script src="constructors/Pathfinder.js"></script>
        <script src="constructors/WorldMap.js"></script>
        <script src="constructors/WorldTile.js"></script>
        <script src="constructors/WorldObject.js"></script>

        <script src="prototypes/RotObject.js"></script>
        <script src="prototypes/MovingObject.js"></script>

        <script src="display-engines/phaser-display.js"></script>
        <script src="display-engines/rot-display.js"></script>

        <script src="main/general-utility.js"></script>
        <script src="main/world-utility.js"></script>
        <script src="main/time.js"></script>
        <script src="main/input.js"></script>
        <script src="main/global.js"></script>
        <script src="main/main.js"></script>
    </head>
    <body>
    </body>
</html>
