<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="index.css">

        <script src="https://ondras.github.io/rot.js/rot.js"></script>
        <script src="phaser.min.js"></script>
        <script src="howler.js"></script>
        <!--<script src="lodash.js"></script>-->

        <script src="constructors/UI/UI.js"></script>
        <script src="constructors/UI/Hud.js"></script>
        <script src="constructors/UI/Select.js"></script>
        <script src="constructors/UI/Timeline.js"></script>

        <script src="constructors/Time.js"></script>
        <script src="constructors/Camera.js"></script>
        <script src="constructors/WorldEvent.js"></script>
        <script src="constructors/WorldMap.js"></script>
        <script src="constructors/WorldTile.js"></script>
        <script src="constructors/WorldObject.js"></script>

        <script src="worldobject-prototypes/AI.js"></script>
        <script src="worldobject-prototypes/Consumer.js"></script>
        <script src="worldobject-prototypes/Consumable.js"></script>
        <script src="worldobject-prototypes/Destructible.js"></script>
        <script src="worldobject-prototypes/TurnTaking.js"></script>
        <script src="worldobject-prototypes/Moving.js"></script>
        <script src="worldobject-prototypes/Pathing.js"></script>
        <script src="worldobject-prototypes/RotJS.js"></script>
        <script src="worldobject-prototypes/Temperature.js"></script>
        <script src="worldobject-prototypes/Combat.js"></script>
        <script src="worldobject-prototypes/Inventory.js"></script>
        <script src="worldobject-prototypes/Living.js"></script>
        <script src="worldobject-prototypes/Item.js"></script>
        <script src="worldobject-prototypes/Equipment.js"></script>
        <script src="worldobject-prototypes/Social.js"></script>

        <script src="content/content-WorldObject.js"></script>

        <script src="display-engines/phaser-display.js"></script>
        <script src="display-engines/rot-display.js"></script>

        <script src="main/general-utility.js"></script>
        <script src="main/world-utility.js"></script>
        <script src="main/input.js"></script>
        <script src="main/global.js"></script>
        <script src="main/main.js"></script>
    </head>
    <body>

    </body>
</html>
