<!DOCTYPE html>
<html>
    <head>
        <style type = "text/css">
            body{
                background: #000000;
                padding: 0px;
                margin: 0px;
            }
            canvas{
                display:block;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        </style>

        <script src="https://ondras.github.io/rot.js/rot.min.js"></script>
        <script src="phaser.min.js"></script>

        <script src="content/WorldObjects.js"></script>

        <script src="constructors/WorldMap.js"></script>
        <script src="constructors/WorldTile.js"></script>
        <script src="constructors/WorldObject.js"></script>

        <script src="prototypes/RotObject.js"></script>

        <script src="display-engines/phaser-display.js"></script>
        <script src="display-engines/rot-display.js"></script>

        <script src="main/general-support-functions.js"></script>
        <script src="main/engine-main-functions.js"></script>
        <script src="main/engine-support-functions.js"></script>
        <script src="main/user-input.js"></script>
        <script src="main/global-values.js"></script>
        <script src="main/main.js"></script>
    </head>
    <body>
    </body>
</html>
