.event-log {
    overflow: hidden;
    word-break: break-all;
    word-spacing: -1px;  
    padding: 1rem;
    //transition: 0.5s ease-in;
    height: 12vh;
    z-index: 2;
    background: black;
}

.event-log:hover {
    position: absolute;
    bottom: 0;
    width: 98.7vw;

    background: black;
    height: 40vh;
    overflow-y: scroll;
  }

  .colour-white {
    color: white;
  }

  .colour-red {
    color: $light-red;
  }
  
  .colour-blue {
    color: $light-blue;
  }
  
  .colour-green {
    color: $light-green;
  }
  
  ::-webkit-scrollbar {width: 0px;} 
  ::-webkit-scrollbar-track {background-color: rgba(25, 25, 25, 0.2);}
  ::-webkit-scrollbar-thumb {background-color: rgba(25, 25, 25, 0.2);}