$indicator-height: 2vh;

.indicator {
    height: $indicator-height;
}

.bar-container {

    .bar-indicator-container {
        width: 95%;
        height: $indicator-height;
        display: inline-block;
        padding: 0.25rem;

        .bar-indicator {
            text-align: center;
            text-justify: auto;
            float: left;
            width: 100%;
        }
        .bar-indicator, .bar {
            height: $indicator-height;
            border-style: solid;
            border-color: white;
            border-width: 1px;
            border-radius: 4px;
        }
    }
}


.bar-container.red .bar-indicator-container {
    background-color: #000;
    > .bar {
        background-color: $light-red;
    }
}

.bar-container.green .bar-indicator-container {
    background-color: #000;
    > .bar {
        background-color: $light-green;
    }
}

.bar-container.blue .bar-indicator-container {
    background-color: #000;
    > .bar {
        background-color: $light-blue;
    }
}