html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    background: black;
}

.strokeme {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.hover-text {
  position: absolute;
  z-index: 1;
}

.ui-left {
  float: left;
  margin-top: 10vh;
  width: 10vw;
  height: 10vh;
}

.ui-right {
  float: right;
  margin-top: 10vh;
  width: 10vw;
  height: 10vh;
}

.ui-bottom {
  width: 75vw;
  position: absolute;
  bottom: 0;
  margin-left: 15vw;
  height: 10vh;
}

.ui-top {
  width: 75vw;
  position: absolute;
  top: 0;
  margin-left: 15vw;
  height: 10vh;
}

.no-click {
  pointer-events: none;
}

.no-select {
  user-select: none;
}