html {
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
}

.strokeme {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.top-left {
}

.top-right {
  margin-left: auto;
}

.bottom-right {
  margin-left: auto;
  margin-top: auto;
}

.bottom-left {
  margin-top: auto;
}

.no-click {
  pointer-events: none;
}

#worldTimeline {
  width: auto;
  height: auto;
  display: none;
}

#selectObject {
  display: none;
}