// Colours

$light-green: #98c379;
$border-green: #669644;

$light-blue: #56b6c2;
$border-blue: #2980B9;

$light-red: #FF4C4C;
$border-red: rgb(204, 61, 61);

// HEX_WHITE: '#ABB2BF',
// HEX_BLACK: '#262626',
// HEX_RED: '#FF4C4C',
// HEX_YELLOW: '#FFE272',
// HEX_BLUE: '#56b6c2',
// HEX_GREEN: '#98c379',
// HEX_ORANGE: '#FF9900',
// HEX_GREY: '#666666',


$off-black: #20222b;
$m-size: 1.6rem;

// Spacing